.logo-container {
  text-align: center;
  background-color: aliceblue;
  width: 80%;
  margin: auto;
  height: 35%;
  margin-top: 12%;
  cursor: pointer;
}

.body-image-container {
  text-align: center;

  background-color: aqua;
  width: 80%;
  margin: auto;
  height: 35%;
  margin-top: 15%;
  cursor: pointer;
}

.content {
  text-align: center;
  margin-top: 20px;
}
