.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  width: 1000px;

  height: 35%;
  margin: 10% auto;
  cursor: pointer;
}

.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
  background-color: rgb(69, 196, 196);
  width: 80%;
  margin: auto;
  height: 35%;
  cursor: pointer;
}

.logo-container a,
.body-container a {
  text-decoration: none;

  color: black;
}

.kk {
  color: kkk;
}
