.body-guide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
  color: black;
  width: 80%;
  margin: auto;
  height: 35%;
  cursor: pointer;
}

.body-container-guide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(65, 122, 172);
  width: 80%;

  height: 35%;
  margin: 10% auto;
  cursor: pointer;
}

.btn-guide {
  background-color: rgb(255, 255, 255);
  color: black;
  border: 1px solid white;
  margin: 0 40% 0 40%;
}

h1 {
  font-size: 2rem;
}

.ion-padding {
  background-color: aqua;
}
.logo-img {
  width: 100px;
  height: 100px;
}
