nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;

  display: flex;
  border: solid 2px;
  background-color: white;
  z-index: 99;
}

nav > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
