nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  margin-bottom: 50px;

  display: flex;
  background-color: #12b587;
  z-index: 99;
}

nav > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  text-decoration: none;
}

.icon {
  color: #fffaf0;
}

.nav-link:hover .icon {
  color: #ffbebe;
}

.label {
  bottom: 0;
  width: 100%;
  color: #fffaf0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

.nav-link:hover .label {
  color: #ffbebe;
}
